@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.book-detail{
    width: 80%;
    margin: 6rem auto;
}
.book-detail-row-1{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 2rem;
    margin-bottom: 3rem;
}
.book-detail-row-1-column-1 .item-name{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.book-detail-row-1-column-1 .item-author{
    font-size: 18x;
    margin-bottom: 1.5rem;
}
.book-detail-row-1-column-1 .item-desc span{
    font-size: 14px;
    margin-bottom: 1.5rem;
    font-family:'Roboto'!important;
    color: rgb(0, 0, 0, 0.7);
}
.book-detail-row-1-column-1 .item-price{
    font-size: 45px;
    font-weight: 600;
    color: #8D28AD;
    margin-bottom: 1.5rem;
}
.book-detail-row-1-column-1 .item-buy img{
    height: 35px;
    width: 35px;
}
.book-detail-row-1-column-1 .quantity-add-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    align-items: center;
    gap: 1rem;
}
.book-detail-row-1-column-1 .item-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 0.5rem;
}
.book-detail-row-1-column-1 .item-quantity span{
    font-size: 18px;
    font-weight: 600;
}
.book-detail-row-1-column-1 .item-quantity button{
    height: 100%;
    color: #8D28AD;
    font-size: 22px;
    font-weight: 600;
    background: none;
    border: none;
    padding: 1rem;
}
.book-detail-row-1-column-1 .item-buy{
    background-color: #8D28AD;
    color: #fff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.book-detail-row-1-column-1 .item-buy span{
    font-size: 22px;
    font-weight: 600;
    padding: 1rem;
}

.book-detail-row-1-column-2{
    height: 500px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1.8fr 0.5fr;
}
.book-detail-row-1-column-2 .item-image{
    height: 100%;   
    border-radius: 1rem;
    overflow: hidden;
}
.book-detail-row-2{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1.5fr 1fr;
}
.book-detail-row-2-col-1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.book-detail-table{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.book-detail-table-col-1 {
    background-color: #4D4D4D;
}

.book-detail-row-2 span{
    font-size: 24px;
    font-weight: 600;
}
.book-detail-table-col-1 li{
    margin: 2.5rem 1rem; 
    color: #fff;
}
.book-detail-table-col-2{
    background-color: #FCF8FD;
}
.book-detail-table-col-2 p{
    margin: 2.5rem 1rem; 
}
.book-detail-review{
    position: relative;
}
.book-detail-review-row-1{
    display: flex;
    align-items: center;
    background-color: #FCF8FD;
    gap: 4rem;
    border-radius: 0.5rem;
    padding: 2rem;
}
.book-detail-review-row-1 .rating-score {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;

}
.book-detail-review-row-1 .rating-score >div:first-child{
    margin: 0 auto;

}
.book-detail-review-row-1 .rating-score span{
    font-size: 1.5rem;
    font-weight: 600;
}
.book-detail-review-row-1 .rating-score .star-score{
    width: 90px;
    height: 18px;
    background: url(https://res.cloudinary.com/dgkeufmje/image/upload/v1733802843/star_2_ooqmuw.png) repeat-x;
    background-size: 18px 18px;
}
.book-detail-review-row-1 .rating-score .star-score >div{
    width: 100%;
    height: 18px;
    background: url(https://res.cloudinary.com/dgkeufmje/image/upload/v1733677454/star_jcb102.png) repeat-x;
    background-size: 18px 18px;
}
.book-detail-review-row-1 .rating-chart{
    width: 100%;
}
.book-detail-review-row-1 .rating-chart >div{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.book-detail-review-row-1 .rating-chart >div span{
    display: flex;
    align-items: baseline;
    font-size: 20px;
    font-weight: 500;
    gap: 0.3rem;
    min-width: 36px;
}
.book-detail-review-row-1 .rating-chart >div span img{
    height: 18px;
    width: 18px;
}
.book-detail-review-row-1 .rating-chart >div >div{
    background-color: #DDDDDD;
    border-radius: 1rem;
    height: 10px;
    width: 100%;
}
.book-detail-review-row-1 .rating-chart >div >div >div{
    background-color: #FF7020;
    height: 10px;
    border-radius: 1rem;
}
.close-book-detail-review-row-2{
    display: flex;
    gap: 2rem;
    position: absolute;
    top:90%;
    left: 50%;
    transform: translateX(-50%);
}
.close-book-detail-review-row-2 >div{
    display: flex;
    box-shadow: 10px 5px 5px  #DDDDDD;
    background-color: #fff;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}
.close-book-detail-review-row-2 >div img{
    height: 18px;
    width: 18px;
}
.open-book-detail-review-row-2{
    position: absolute;
    top:-1000rem
}
.close-book-detail-review-row-2 >div button{
    font-weight: 500;
}
.close-book-detail-review-row-3{
    position: absolute;
    top: -1000rem;
}
.open-book-detail-review-row-3{
    position: absolute;
    z-index: 10;
    height: 300px;
    width: 300px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
}
.close-book-detail-review-row-4{
    position: absolute;
    top: -1000rem;
}
.open-book-detail-review-row-4 .list-review >div{
    display: flex;
    gap: 2rem;
    padding: 2rem
}
.open-book-detail-review-row-4 .list-review .rating-score{
    color: #FF7020;
    font-weight: 600;
    font-size: 24px;
    margin:0;
    width: 80px;
}
.open-book-detail-review-row-4 .list-review .star-score{
    background:url(https://res.cloudinary.com/dgkeufmje/image/upload/v1733802843/star_2_ooqmuw.png) repeat-x;
    background-size: 16px 16px;
    width: 80px;
}
.open-book-detail-review-row-4 .list-review .star-score >div{
    height: 16px;
    background: url(https://res.cloudinary.com/dgkeufmje/image/upload/v1733677454/star_jcb102.png) repeat-x;
    background-size: 16px 16px;
}
.open-book-detail-review-row-4 .review-detail p{
    font-weight: 600;
}
.open-book-detail-review-row-4 .review-detail span{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0, 0.5);
}
.open-book-detail-review-row-4 .load-more{
    display: flex;
    gap: 1rem;
    border-radius: 2rem;
    border: 1px #F0E4F4 solid;
    padding: 1rem;
}
.open-book-detail-review-row-4 .load-more:hover{
    background-color: #F0E4F4;
}
.open-book-detail-review-row-4 .load-more img{
    height: 18px;
    width: 18px;
}
.open-book-detail-review-row-4 .close-review {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px #F0E4F4 solid;
}
.open-book-detail-review-row-4 .close-review:hover{
    background-color: #F0E4F4;
}
.open-book-detail-review-row-4 .add-review-box{
    margin-top: 2rem;
}
.open-book-detail-review-row-4 .rating-score{
    height: 50px;
    width: 120px;
    margin: 0 auto;
}
.open-book-detail-review-row-4 .star-score{
    display: flex;
    height: 50px;
    width: 100%;
}
.open-book-detail-review-row-4 .add-review-box .star-score .unActive-star-item {
    height: 24px;
    width: 24px;
    background: url(https://res.cloudinary.com/dgkeufmje/image/upload/v1733802843/star_2_ooqmuw.png) no-repeat;
    background-size: 24px 24px;
}
.open-book-detail-review-row-4 .add-review-box .star-score .active-star-item {
    height: 24px;
    width: 24px;
    background: url(https://res.cloudinary.com/dgkeufmje/image/upload/v1733677454/star_jcb102.png) no-repeat;
    background-size: 24px 24px;
}
.open-book-detail-review-row-4 .add-review-box .review-input {
    display: flex;
    justify-content: center;
    border: 1px #CDCFD0 solid;
    border-radius: 1rem;
}
.open-book-detail-review-row-4 .add-review-box .review-input input{
    height: 100px;
    width: 90%;
    border: none;
}
.open-book-detail-review-row-4 .review-button{
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.open-book-detail-review-row-4 .review-button >button{
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px #CDCFD0 solid;
}
.open-book-detail-review-row-4 .review-button >button:hover{
    background-color: #F0E4F4;;
}
.open-book-detail-review-row-4 .close-review img{
    height: 18px;
    width: 18px;
}
.open-book-detail-review-row-4 .button-flex{
    justify-content: center;
}
.open-book-detail-review-row-4 .recommend-login{
    margin-top: 3rem;
    text-align: center;
}
.open-book-detail-review-row-4 .recommend-login >div{
    display: flex;
    justify-content: end;
}

.open-book-detail-review-row-4 .recommend-login >div >div{
    margin: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px #F0E4F4 solid;
    width: 100px;
}
.book-detail-row-2-col-2 .related-book{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.book-detail-row-2-col-2 .related-book-image{
    height: 250px;
    width: 180px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.book-detail-row-2-col-2 .related-book-desc{
    margin-left: 2rem;
    width: 70%;
}
.book-detail-row-2-col-2 .related-book-desc .item-name{
    font-size: 18px;
    font-weight: 600;
}
.book-detail-row-2-col-2 .related-book-desc .item-price{
    color: #8D28AD;
    font-size: 18px;
}
.close-overlay{
    display: none;
}
.open-overlay{
    width: 100%;
}
body.no-scroll {
    overflow: hidden; /* Ngăn mọi hành vi cuộn */
}
.bookdetail-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .53);
    z-index: 15;
    top: -1px;
    left: 0;
    right: 0
}
.login-pop-up{
    position: absolute;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    z-index: 20;
    left: 50%;
    transform: translate(-50%);
    top: 40%;
}
.login-pop-up p{
    font-size: 24px;
    font-weight: 500;
}
.login-pop-up >div{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.login-pop-up >div a{
    padding: .5rem;
    border-radius: 0.5rem;
    background-color: #8D28AD;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 2rem;
}
.login-pop-up >div button{
    padding: .5rem;
    border-radius: 0.5rem;
    background-color: #8D28AD;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 2rem;
}
@media only screen and (max-width:768px) and (min-width:0px){
    .book-detail-row-1 {
        display: unset
    }
    .book-detail-row-1-column-1{
        margin-bottom: 1rem;
    }
    .book-detail-row-1-column-2{
        width: 80%;
        margin: 0 auto;
        height: unset;
    }
    .book-detail-row-2{
        display: unset;
    }
    .book-detail-row-2-col-2{
        margin-top: 4rem;
    }
}
@media only screen and (max-width:550px) and (min-width:0px){
    .related-book-desc{
        width: 90%;
    }
    .book-detail-review-row-1{
        gap: 1rem;
    }
}

