.space{
    background-color: rgba(141, 40, 173, 0.35);
    width: 100%;
    height: 80px;
}
.checkout{
    width: 80%;
    font-family: 'Roboto' !important;
    margin: 6rem auto;
}
.checkout input{
    font-family: 'Roboto'!important;
}
.checkout-row-1{
    margin-top: 2rem;
    display: grid;
    border-radius: 1rem;
    border: 1px solid #e5e7eb;
    padding: 2rem;
}
.checkout form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
}
.checkout-row-1-col-1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.checkout-row-1-col-1 input{
    width: 100%;
}
form input::placeholder{
    font-family: 'Roboto';
    font-size: 16px;
}
.checkout-row-1-col-2{
    margin: 0 auto;
    width: 100%;
}
.checkout-row-1-col-2-row-1{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.checkout-row-1-col-2-row-2{
    margin-top: 2rem;
    padding: 1rem;
    background-color: black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
}
.checkout-row-1-col-2-row-2 button{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
.checkout-row-1-col-3 div{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}
.checkout-row-1-col-3 label{
    font-family: "Roboto";
    font-size: 16px;
}