.advan{
    background-color: #fceeff;
    display: flex;
    margin-top: 5rem;
}
.advan-item{
    text-align: start;
    margin: 2rem;
}
.advan-item .image{
    width: 50px;
    height: 50px;
}
.advan-item .image img{
    width: 100%;
    height: 100%;
}