html, body{
    height: 100%;
}
#root{
    height: 100%;
}
.sign-up{
    height: 100%;
    display: grid;
    place-items: center;  
}
.sign-up-box{
    background-color: rgb(141, 40, 173, 0.15);
    padding: 4rem;
    text-align: center;
    border-radius: 0.5rem;
}
.sign-up-box-row-1{
    font-weight: 600;
    font-size: 32px;
    color: #8D28AD;
}
.sign-up-box-row-2 {
    margin-top: 2rem;
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
}
.sign-up-box-row-2 .sign-up-user-name-input{
    background-color: #ffff;
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
}
.sign-up-box-row-2 .sign-up-user-name-input input{
    border: none;
    outline: none;
}
.sign-up-box-row-2 .sign-up-email-input{
    background-color: #ffff;
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
}
.sign-up-box-row-2 .sign-up-email-input input{
    border: none;
    outline: none;
}
.sign-up-box-row-2 .sign-up-password-input{
    background-color: #ffff;
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
}
.sign-up-box-row-2 .sign-up-password-input input{
    border: none;
    outline: none;
}
.sign-up-box-row-2 .sign-up-button{
    background-color: #8D28AD;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.sign-up-box-row-2 .sign-up-button button{
    border: none;
    outline: none;
    background: none;
    color: #ffff;
    font-weight: 600;
    font-size: 18px;
}