.searchResult{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 auto;
}
.searchResult .overlay{
    display: none;
}
.searchResult .toggle{
    display: none;
}
.searchResult h2{
    font-size: 30px;
    font-weight: 600;
}
.item-name span{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.filter{
    border-right: 1px solid #F0E4F4;
    margin-right: 1.5rem;
}
.filter-row-1{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 1rem;
}
.filter-row-1 .category{
    width: 100% !important;
}
.filter-row-1 span{
    font-size: 24px;
    font-weight: 600;
}
.filter-row-1 label{
    color: #636363;
}
.filter-row-1 .option{
    margin: 1rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.filter-row-1 input{
    margin-right: 0.5rem;
}
.filter-row-1 .price-range input{
    width: 100%;
}
.filter-row-1 .price-range .price-range-row-2{
    width: 70%;
    margin: 1rem auto;
}

.filter-row-1 .price-range-row-2{
    height: 5px;
    border-radius: 5px;
    position: relative;
    background: #ddd;
}
.filter-row-1 .price-range-row-2 .progress{
    height: 5px;
    background: rgb(141, 40, 173, 0.42);
    border-radius: 5px;
    position: absolute;
    right: 25%;
    left: 25%;
}
.filter-row-1 .price-range .price-range-row-3{
    display: flex;
    position: relative;
    width: 70%;
    margin: 0 auto;
}
.filter-row-1 .price-range .price-range-row-3 input{
    position: absolute;
    top:-1.3rem;
    height: 5px;
    width: 100%;
    -webkit-appearance: none;
    background: none;
    pointer-events: none;
}
input[type='range']::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #8D28AD;
}
input[type='range']::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
}
.filter-row-1 .price-range-row-4{
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap:1rem;
    margin: 1rem auto;
}
.filter-row-1 .price-range-row-4 input{
    width: 80px;
    height: 40px;
    margin : 0;
    border: none;
    border-radius: 0.5rem;
    background: #EEDFF3;
    text-align: center;
}
.filter .search-button{
    height: 70px;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #8D28AD;
}
.filter .search-button button{
    color: #ffff;
}
.filter .reset-button{
    height: 70px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.filter .reset-button button{
    color: #636363;
}
.overlay-active .search-button{
    height: 70px;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #8D28AD;
}
.overlay-active .search-button button{
    color: #ffff;
}
.overlay-active .reset-button{
    height: 70px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.overlay-active .reset-button button{
    color: #636363;
}
.filter button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background: none;
}
.overlay-active button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background: none;
}
.book-list .book-list-row-1{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}   
.book-list .book-list-item{
    width: 85%;
}
.book-list .book-list-row-1 .book-list-item .book-list-item-image{
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    min-height: 180px;
    min-width: 140px;
    aspect-ratio: 2.8/4;
}
.best-seller-tag{
    position: absolute;
    top: 2rem;
    padding: 1rem;
    background-color: #FF7A00;
    border-radius: 0 2rem 2rem 0;
    color: #fff;
    font-weight: 600;
}
.book-list .item-category{
    margin-top: 1rem;
    color: #8D28AD;
    font-weight: 600;
}
.book-list .item-name-author{
    margin-bottom: 1rem;
}
.book-list .item-name{
    font-weight: 600;
    font-size: 22px;
}
.book-list .item-price{
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 0;
}
.book-list .item-price .sale-price{
    display: flex;
    gap: 1rem;
    align-items: baseline;
}
.book-list .item-price .sale-price span{
    font-size: 16px;
    text-decoration: line-through;
    color: #636363;
    font-weight: 400;
}
.book-list .pagination {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.book-list .pagination .active-page-number{
    background-color: #8D28AD;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
}
.book-list .pagination .active-page-number button{
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
}
.book-list .pagination .unactive-page-number{
    background-color: rgb(141, 40, 173, 0.25);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: #8D28AD;
    font-size: 16px;
    font-weight: 600;
}
.book-list .pagination .unactive-page-number button{
    color: #8D28AD;
    font-size: 16px;
    font-weight: 600;
}
.book-list-item-desc{
    display: grid;
    grid-template-rows: repeat(3, minmax(auto, 65px));
}
.searchResult .active{
    position: absolute; 
} 
.searchResult .overlay-unActive{
        height: 0;
        width: 0;
        display: none
}
@media only screen and (max-width: 1024px) and (min-width:769px){
    .book-list .book-list-row-1{
        grid-template-columns: repeat(2, 1fr);
    }
    .filter-row-1 .price-range-row-4{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) and (min-width:0px){
    .searchResult{
        display: flex;
        margin: 0 auto;
    }
    .searchResult .toggle{
        display: block;
    }
    .book-list .book-list-row-1{
        grid-template-columns: repeat(2, 1fr);
    }
    .filter{
        margin-right: .5rem;
    }
    .filter-row-1 .option {
        margin: 0rem;
    }
    .filter .reset-button{
        width: 90%;
    }
    .filter .search-button {
        width: 90%;
    }
    .filter-row-1 .price-range-row-4 {
        width: unset;
    }
    
    .book-list .book-list-row-1 .book-list-item .book-list-item-image{
        aspect-ratio: 1/1.3
    }
    .searchResult .filter{
        display: none;
    }
    .searchResult .overlay-active{
        position: fixed;
        top: 0;
        z-index: 100;
        left: 0;
        height: 100%;
        width: 200%;
        display: block;
        background: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
    }
    
    .searchResult .overlay-unActive{
        height: 0;
        width: 0;
        display: none
    }
    .searchResult .active{
        left: 0;
        overflow: auto;
        height: 100%;
        padding: .5rem;
        position: absolute;
        z-index: 100;
        width: 250px;
        overflow-y: scroll;
        background-color: #fff;
        transition: ease-in-out 500ms;
    }   
    .searchResult .unActive{
        left: -600px;
        position: absolute;
    }
}


