.profile{
    margin:6rem 10rem;
}
.profile .profile-image{
    width: 128px;
    height: 128px;
    margin: 0 auto;
}
.profile .profile-tab-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #cdcdcd;
    background-color: #ebeaea;
}
.profile .profile-tab-list div{
    text-align: center;
}
.profile .profile-tab-list div p{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 0.2rem 0;
}
.profile .profile-tab-list .tab-item-active{
    background-color: #fff;
}
.profile .profile-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
}
.profile .profile-form div{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
}
.profile .profile-form div input{
    width: 100%;
}
.profile .profile-form button{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    background-color: black;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    align-self: flex-start;
}
.profile .profile-form .profile-email{
    cursor: not-allowed;
}
.profile .order-history-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
}
.profile .order-invoice >div{
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #c3c5c8;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}
.profile .order-invoice >div .item{
    display: flex;
    gap: 2rem;
    width: 100%;
}
.profile .order-invoice div .item-image{
    height: 160px;
    width: 125px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.profile .order-invoice div .item-name-quantity-price{
    display: flex;
    justify-content:space-between;
    width: 100%;
}
.profile .order-invoice div .item-name-quantity-price >div p{
    font-size: 18px;
    font-weight: 500;
}
.profile .order-invoice div .item-name-quantity-price >div span{
    font-size: 14px;
}
.profile .order-invoice div .item-price{
    font-size: 18px;
    font-weight: 500 !important;
}
.profile .order-invoice .order-item >div:first-child{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c3c5c8;
}
.profile .order-invoice .order-item >div >div:first-child{
    font-size: 20px;
    font-weight: 500;
}
.profile .order-invoice .calendar-price{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.profile .order-invoice .calendar-price p{
    align-self: flex-end;
    font-size: 20px;
    font-weight: 500;
}
.profile .order-invoice .calendar-price >div{
    display: flex;
}
.profile .order-invoice .calendar-price img{
    height: 20px;
    width: 20px;
}
@media only screen and (max-width: 1024px) and (min-width:729px){
    .profile{
        margin:6rem 2rem;
    }
}
@media only screen and (max-width: 728px) and (min-width:0px){
    .profile{
        margin:6rem 2rem;
    }
    .profile .order-invoice div .item-image{
        height: 130px;
    }
    .profile .order-invoice div .item-name-quantity-price{
        display: flex;
    }
    .profile .order-invoice div .item-name-quantity-price>div p{
        font-size: unset;
        font-weight: unset;
    }
    .profile .order-history-form{
        padding: unset;
    }
    .profile .order-invoice div .item-name-quantity-price{
        display: block;
    }
    .profile .order-invoice div .item-name-quantity-price>div p{
        font-size: unset;
        font-weight: unset;
    }
    .profile .order-invoice div .item-price{
        font-size: unset;
        font-weight: unset;
    }
}


