.banner{
    background-color: rgb(67, 13, 84, 0.73);
    color: #FFFFFF;
    height: 500px;
    text-align: start;
    display: flex;
    justify-content: flex-start;
}
.banner-description{
    width: 40%;
    position: absolute;
    top: 30%;
    left: 5%;
}
.banner-description-child{
    margin:1rem
}
.banner a{
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #8D28AD;
    color: #FFFFFF;
    box-shadow: 10px 5px 5px  #521764;
}
.theme{
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    border-radius: 1rem;
}
.theme-option-{
    padding: 0.5rem;
}
.theme-option-active{
    background-color: #D9176C;
    border-radius: 1rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 0.5rem;
}
.theme-option:focus{
    background-color: #D9176C;
    border-radius: 1rem;
    text-transform: uppercase;
    border: none;
    outline: none;
}
@media only screen and (max-width:1024px) and (min-width:0px){
    .banner-description{
       width: 80%;
    }
}
@media only screen and (max-width:439px) and (min-width:0px){
    .banner-description{
       top: unset
    }
}