.flash-sale{
    display: flex;
    width: 100%;
    gap: 2.5rem;
    background-color: #8D28AD;
    padding: 4rem 0 4rem 0;
}
.flash-sale-desc .intro{
    width: 80%;
    display: block;
}
.flash-sale-context{
    color: #FFFFFF;
    text-align: start;
    padding-left: 4rem;
}
.flash-sale-context p{
    font-size: 50px;
    font-weight: 600;
}
.flash-sale-context span{
    font-size: 16px;
    font-weight: 300;
}
.flash-sale-slide-container{
    width: 58%;
}
.flash-sale .swiper-wrapper{
    margin: 0 2rem;
}
.flash-sale-item{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 2rem 2rem 2rem 2rem;
    text-align: start;
    box-sizing: border-box;
}
.flash-sale-item-image{
    width: 35%;
    height: 240px;
    border-radius: 1rem;
    overflow: hidden;
    margin-right: 2rem;
}
.flash-sale-item-image img{
    width: 100%;
    height: 100%;
}
.flash-sale .swiper-slide{
    width: 60%;
}

.flash-sale-item-category{
    color: #8D28AD;
    font-weight: 600;
}
.flash-sale-item-name-author{
    margin: 1.5rem 0;
}
.flash-sale-item-desc .item-name{
    font-weight: 600;
    font-size: 22px;
}
.flash-sale-item-desc .item-price{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.flash-sale-item-desc .item-price h3{
    color: #8D28AD;
    font-size: 25px;
}
.flash-sale-item-desc .item-price h5{
    color: #636363;
    text-decoration: line-through;
    font-weight: 400;
}
.flash-sale .swiper-button-prev{
    height: 40px !important;
    width: 40px !important;
    background-color: #ffff;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 5px 5px 10px 5px #C4C4C4;
}
.flash-sale .swiper-button-prev:after{
    font-size: 24px !important;
}
.flash-sale .swiper-button-next{
    height: 40px !important;
    width: 40px !important;
    background-color: #ffff;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 5px 5px 20px 5px #C4C4C4;
}
.flash-sale .swiper-button-next:after{
    font-size: 24px !important;
}
.flash-sale-item-quantity{
    color: #636363;
}
.flash-sale-progress{
    margin-top: 1rem;
    background-color: #C4C4C4;
    border-radius: 1rem;
    height: 5px;
}
.flash-sale-item-quantity span{
    font-size: 16px;
    font-weight: 500;
}